@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  padding-top: 70px;
  background-color: #000
}

.img-responsive {
    margin: 0 auto;
}

.card {
	margin: 0 auto;
    box-shadow: 0 8px 12px 4px rgba(0,0,0,0.3);
    background: #fefefe;
    display: flex;
}

.card-content {
	padding: 10px;
}

.card-img {
	width: 50%;
}


.question {
	padding: 20px;
	width: 50%;
}

.title {
	text-align: center;
	font-size: 2em;
}

.sub-title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.25em;
}

.navbar-text-brand {
	color: white;
	font-weight: 900;
	font-family: 'Montserrat', sans-serif;
}

.navbar-text-common a {
	color: white;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

.navbar-text-common a:hover,.navbar-text-common a:active,.navbar-text-common a:focus {
	background-color: #16e16e !important;
}

a:focus,a:hover {
	color: white !important;
}

.nav .open {
	background-color: #16e16e !important;
}

.navbar-text-common .logout {
	color: white !important;
	background-color: #333;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

.dropdown-menu li a {
	background-color: #333 !important;
	color: white !important;
}

.dropdown-menu {
	background-color: #333 !important;
}

.navbar-toggle {
	background-color: #fff !important;
}

.navbar-toggle .icon-bar {
	background-color: #000 !important;
}