{% extends "base.html" %} {% block title %} Abhedya - level {{level.level_id}} {% endblock %} {% block content %} {% load crispy_forms_tags %} {% if cleared %}
<div class="col-md-12" style="text-align: center;">
    <h2 style="color: var(--green);text-align:center"> Finally The Mystry is Solved 🎉! </h2>
    <hr>
    <p class="rules" style="font-size:20px;text-align:center;">
        Robert reveals to you that you have multiple personality disorder. Blackrose is your (Brandon's) evil alter ego.

    </p>
    <img src="https://c.tenor.com/pS_wARVlR8kAAAAM/well-done-despicable-me.gif" alt="" class="complete">
</div>
{% else %}
<div class="card">
    <div class="question">
        <div class="title"> Level {{level.level_id}} </div>
        <div class="sub-title" style="margin-bottom: 40px;"> {{level.question}} </div>
        {% if level.image.url is not None %}
        <div class="card-img"> <img src={{level.image.url}} class="img-responsive" style="margin-bottom: 40px;"> </div> {% endif %} {% if level.hint is not None %}
        <div class="card-hint"> <span style="color: var(--green)">Hint:</span> {{level.hint}}</div>
        {% endif %}
        <form method="POST" action="" autocomplete="off"> {% csrf_token %} {{form|crispy}}
            <input type="submit" value="SUBMIT" name="" class="btn btn-primary next_question_btn">
        </form>
    </div>
</div>
<div class="space"></div>
{% endif %} {% endblock %}