{% extends "base.html" %} {% block title %} Abhedya - login {% endblock %} {% block content %} {% load crispy_forms_tags %}

<h2 style="color: var(--green)">Login</h2>
<hr>
<form method="post">
    {% csrf_token %} {{ form|crispy }}
    <button type="submit" class="btn btn-primary next_question_btn">Login</button>
</form>
<p style="padding-top: 10px; color: #efefef">Don't have any account ? <a href="/register/" style="color: white;"> Register </a> </p>
<p style="padding-top: 10px; color: #efefef">Forgot Password ?  <a href="{% url 'password_reset' %}" style="color: white;">click Here</a> </p>
{%endblock%}
