{% extends "base.html" %} {% block title %} Abhedya - rules {%endblock%} {% block content %}
<div class="col-md-12">
    <h2 style="color: var(--green);"> Rules </h2>
    <hr>
    <div class="rules">
        <ul type="dot" class="guidelines">
            <li>
                The quiz will remain active from 29th Dec, 2021 1800 hrs to 1st Jan, 2022 0000 hrs.
            </li>
            <li>
                The username for registration should be of the following format: &lt;rollno&gt;_&lt;name&gt; . <span style="color:var(--green);">Eg: 20bcs102_deepak</span>.
            </li>
            <li>
                Use the institute email address for registration.
            </li>
            <li>
                <span style="color: var(--green);">CAPS and SPACES</span> are not allowed. E.g. If your answer is "Hello World", enter "helloworld" to proceed to the next level.
            </li>
            <li>
                Winners will be chosen for the first three positions on the basis of the leaderboard.
            </li>
        </ul>
    </div>
</div>

{%endblock%}