{% extends "base.html" %}

{% block title %} Abhedya - rules {%endblock%}

{% block content %}
<div class="col-md-12">
	<h2 style="color: #16e16e;"> Rules </h2>
	<hr>
	<div class="rules">
		<ul type="dot" class="guidelines">
            <li>
                The quiz will remain active from 11th Feb, 2021 0000 hrs to 11th Feb, 2021 2359 hrs.
			</li>
			<li>
                The username for registration should be of the following format: &lt;rollno&gt;_&lt;name&gt; .Eg: 195102_gaurav.
            </li>
            <li>
                Use the institute email address for registration.
			</li>
			<li>
                CAPS and SPACES are not allowed. E.g. If your answer is "Hello World", enter "helloworld" to proceed to the next level.
			</li>
			<li>
                The answers should not have special characters such as !, " etc. but numbers are accepted.
			</li>
			<li>
                Winners will be chosen for the first three positions on the basis of the leaderboard.
            </li>
            <li>
                Read the <a href="https://docs.google.com/presentation/d/1na-iOIlKuF3XnvRnjBQslMrRs0DPWytj3uP3-F2-KG8/edit?usp=sharing" target="blank" class="general-links">abstract</a> carefully for rules and regulations.
            </li>
        </ul>
	</div>
</div>

{%endblock%}