{% extends "base.html" %} {% block title %} Abhedya - rules {%endblock%} {% block content %}
<style>

    h2{
        color: var(--green); font-size: 5rem;
        font-family: 'Orbitron', sans-serif;
      }

     #rules-sec{
        padding: 5% 16% 7%;

    }
    .rules{
            padding: 5%;
            backdrop-filter: blur(8px);
            border-radius: 5%;
    }

    .li-link{
        color: var(--white);
    }
    .li-link:hover{
        color: white;
    }
</style>
<div class="col-md-12">
    <section id="rules-sec">
    <div class="rules">
        <h2 style="color: var(--green);"> Rules </h2>
    <hr>
        <ul type="dot" class="guidelines">
            <li>
                The <strong>Hunt</strong> will begin on 24<sup>th</sup> February, 2022 18:00.
            </li>
            <li>
                The username for registration should be of the following format <strong>rollNo_name</strong>. <br>Eg: 21bma003_mehul.
            </li>
            <li>
                Use the institute email address for registration.
            </li>
            <li>
                <strong>CAPS and Space</strong> are not allowed. E.g. If your answer is "Hello World", enter "helloworld" to proceed to the next level.
            </li>
            <li>
                The winners will be the ones who finish at the earliest.
            </li>
            <li>
                For any queries: <a href="https://wa.me/918894957166" target="_blank" class="li-link">8894957166</a> </li>

            <li>
                Please read the question very carefully. 
            </li>
        </ul>
    </div>
</section>

</div>

{%endblock%}

