{% extends "base.html" %} {% block title %} Abhedya - login {% endblock %} {% block content %} {% load crispy_forms_tags %}

<style>
    .background-blur{
            padding: 2%;
            backdrop-filter: blur(8px);
            border-radius: 5%;
    }
</style>

<div class="background-blur">
<h2>Password Reset Form</h2>
  <br>
<form method='post' class="register"> {% csrf_token %} {{ form|crispy }}
  <button type="submit" class="btn btn-primary next_question_btn">Reset Password</button>
</form>
</div>
{%endblock%}
