{% extends "base.html" %} {% block title %} Abhedya - login {% endblock %} {% block content %} {% load crispy_forms_tags %}

<style>
    .background-blur{
            padding: 2%;
            backdrop-filter: blur(8px);
            border-radius: 5%;
    }
</style>
<div class="background-blur">
<h5>Enter Your New Password</h5>
<h1 style="color:#ffffff;">Reset Your Password</h1>
<form method='post'>
  {% csrf_token %} 
  {{ form|crispy }}
  <button class="btn btn-primary btn-lg" type="submit">Change Password</button>
</form>
</div>
{%endblock%}
